.navbar{
    display: flex;
    transition: 0.5s all ease;
    flex-direction: column;
    position: fixed ;
    left: 0;
    width: 100%;
    padding: 0%;
    z-index: 10;
    align-items: center;
    top: 0;

    background-color: #03045e;
    color: white;

    &.active{
        background-color: #fff;
        color: black;
    }

    .container{
        width: 1400px;
        font-family: "Anta";
        display: flex;
        justify-content: space-between;
        padding: 20px 0 ;
        .logo{
            font-size: 34px;
            font-weight: bold;
            .text{
                
            }
            .dot{
                color: aqua;
            }
        }
        .links{
            display: flex;
            align-items: center;
            font-weight: 500;
            gap: 24px;
        .user{
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;

            img{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
            }

        .options{
            position: absolute;
            top: 50px;
            right: 0;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            border: 1px solid lightgrey;
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: gray;
            width: 200px;
            font-weight: 300;
            z-index: 20;
        }
        }
            button{
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid white;
                cursor: pointer;
                background-color: #013914;

                &:hover{
                    background-color: #1dbf73;
                    border-color: #1dbf73;
                }
            }
            
        }

        
    }
    hr{
        width: 100%;
        height: 0;
        border: 0.5px solid lightgrey;

    }
    div.menu{
        width: 1400px;
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        padding-bottom: 7px ;
        color: gray;
        transition: 0.5 ease;
        font-family: "Rajdhani", sans-serif;
        border-bottom: 1 solid grey;
    }
}